{% extends 'index.html' %}
{% load static %}
{% block content %}
    <!-- 핵심 테마 CSS (부트스트랩 포함) -->
    <link href="{% static 'css/analysis-page.css' %}" rel="stylesheet">
    <style>
        @media (min-width: 768px) {
            /* md 사이즈 이상일 때 */
            .custom-border {
                border: solid;
                border-bottom: ;
            }

            .col-md-8 {
                flex: 0 0 auto;
                width: 66%;
            }

            .col-md-4 {
                flex: 0 0 auto;
                width: 32.8%;
            }

            .row-md-column {
                display: flex;
                padding-right: 0;
                padding-left: 0;
                padding-top: 0.7rem;
                justify-content: space-between;
            }
        }

        @media (max-width: 767.98px) {
            /* md 사이즈 미만일 때 */
            .custom-border {
                border: solid;
            }

            .row-md-column {
                display: flex;
                padding-right: 0;
                padding-left: 0;
                padding-top: 0.7rem;
                justify-content: space-between;
                flex-direction: column;
            }
        }

        #loading {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #loading p {
            color: white;
            font-size: 1.5em;
        }

    </style>
    </head>
    <main class="mb-auto p-5" style="padding-top: 0px; !important">
        <section style="color: #73C5B7">
            <main class="p-3 contents-center container row grid-sorting"
                  style="height: 100%; margin-right: auto; margin-left: auto;">
                <h2 class="page-section-heading text-left text-uppercase mb-0 border-wrapping"
                    style="margin-bottom: 0.4rem">>{{ topic }}</h2>
                <div class="row-md-column">
                    <div class="col-12 col-md-8 p-3 analysis-card border-md-end custom-border border-wrapping"
                         style="border-radius: 0.6rem; margin-bottom: 0.7rem">
                        <div>
                            <div id="timer-container">
                                <span>{{ term }}분 간격으로 피드백</span>
                            </div>
                            <video autoplay muted id="preview" width="100%" height="50%"
                                   style="border-radius: 0.6rem;"></video>
                            <br>
                            <div id="timer-container">
                                <div id="timer">
                                    <span id="elapsed-time">00:00:00</span><br>
                                </div>
                            </div>
                            <div class="button-center">
                                <div id="id" data-id="{{ id }}"></div>
                                <div id="term" data-term="{{ term }}"></div>
                                <div style="margin-right:20px;">
                                    <button style="border:none;" id="record-button"
                                            class="record-button btn btn-primary btn-lg">강의시작
                                    </button>
                                </div>
                                <div style="margin-left: 20px;">
                                    <button style="background-color: rgb(242,106,92); border:none" id="stop-button"
                                            class="stop-button btn btn-primary btn-lg pause-button">
                                        일시정지
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fade_container col-12 col-md-4 p-3 analysis-card border-wrapping"
                         style="margin-bottom: 0.7rem;">
                        <div style="width: 100%; text-align: center; font-weight: 800; margin-top: 20px; font-size: 20px;">
                            현재 청중들의 상태는
                        </div>
                        <img id="emotionImage" style="margin-top:100px; width: 100%;">
                        <div id="concentrationTextElement"
                             style="width: 100%; text-align: center;
                             font-weight: 800; font-size: 30px; margin-top: 50px;">
                        </div>
                    </div>
                </div>
            </main>
        </section>
    </main>
    <div id="loading" style="display: none;">
        <p>로딩 중...</p>
    </div>
    <!-- Core theme JS-->
    <script src="{% static 'js/record.js' %}"></script>
    <script src="{% static 'js/navbar_current_page_underline_effect.js' %}"></script>
{% endblock %}