/*.current-page::after 부터 */
/*lecture-preset*/
.user-inputs {
    width: 27%;
    padding: 30px;
    margin: auto;
}

.user-input-Privacy {
    width: 100%;
    padding: 10px;
}

.lecture-form {
    margin-right: auto;
    margin-left: auto;
    max-width: 420px;
}

.btn {
    background-color: white;
    color: #73C5B7;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-register {
    float: right;
}