<!-- lecture_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>강의 분석 결과</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</head>
<body>
<h1>강의 분석 결과</h1>
{% if user.is_authenticated %}
    로그아웃
{% endif %}
<div>
    <form method="get">
        <input name="search" type="text" value="{{ request.GET.search }}">
        <input type="submit" value="Search">
    </form>
</div>
<div>{{ lectures.paginator.count }}</div>
<ul>
    {% for lecture in lectures %}
        <li>
            <a href="{% url 'report:detail' lecture.id %}">{{ forloop.counter0|add:lectures.start_index }} {{ lecture.topic }}
                - {{ lecture.datetime }}</a>
            <button class='delete' lecture_id={{ lecture.id }}>삭제</button>

        </li>
    {% empty %}
        <li>강의가 없습니다</li>
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
    <a href="?page=1">처음</a>
        {% if lectures.has_previous %}
            <a href="?page={{ lectures.previous_page_number }}">이전</a>
        {% else %}
            <span class="disabled">이전</span>
        {% endif %}

        {% for i in lectures.paginator.page_range %}
            {% if lectures.number == i %}
                <span class="current"> {{ i }} </span>
            {% else %}
                <a href="?page={{ i }}"> {{ i }} </a>
            {% endif %}
        {% endfor %}

        {% if lectures.has_next %}
            <a href="?page={{ lectures.next_page_number }}">다음</a>
        {% else %}
            <span class="disabled">다음</span>
        {% endif %}
        <a href="?page={{ lectures.paginator.num_pages }}">마지막</a>
    </span>
</div>
</body>
<script>
    window.onload = function () {
        var orderSelect = document.getElementById('orderSelect');
        orderSelect.onchange = function () {
            this.form.submit();
        };
    };

    $('.delete').click(function (e) {
        var ans = confirm('정말로 삭제하시겠습니까?');
        let lecture_id = e.target.attributes.getNamedItem('lecture_id').value;
        if (ans) {
            $.ajax({
                url: '/report/list/delete/',
                data: {
                    lecture_id: lecture_id
                },
                method: 'POST',
                success: function (result) {
                    console.log('성공')
                    location.replace('/report/list');
                },
                error: function (result, status, error) {
                    console.log('에러')
                    console.log(result);
                    console.log(status);
                    console.log(error);
                }

            });
        }


    })
</script>
</html>
